/* Apariencia estandar */

:root {
	--aqua: rgb(61, 171, 134);
	--accept: rgb(104, 158, 24);
	--reject: rgb(184, 46, 46);
}

* {
	/* border: 1px solid black; */
}

header {
	text-align: center;
	background-color: var(--aqua);
	color: white;
}

body {
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
}

.main {
	max-width: 1000px;
	margin: auto;
}

footer {
	background-color: var(--aqua);
	margin-top: auto;
	color: white;
	text-align: center;
}

footer p {
	margin: 8px;
}

/* HOME */
a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
}

h2 {
	font-size: 1.8rem;
	text-align: center;
}

.h2-editar {
	font-size: 1.4rem;
}

.id-holder {
	display: flex;
	justify-content: center;
}

h3 {
	text-align: center;
	margin: 0 5px;
}

fieldset {
	border: 1px solid black;
	width: 1000px;
	margin: 1rem auto;
}

.div-lista {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.div-lista-busqueda {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.div-lista-busqueda p {
	text-align: justify;
}

.div-lista:not(:last-child) {
	border-bottom: 1px solid black;
}

.editButton {
	background-color: var(--accept);
	color: white;
	font-size: 1rem;
	border: 1px solid black;
	border-radius: 3px;
	margin-right: 5px;
}
.deleteButton {
	background-color: var(--reject);
	color: white;
	font-size: 1rem;
	border: 1px solid black;
	border-radius: 3px;
	width: fit-content;
}

.logoff {
	align-self: end;
	margin: 1rem 0;
}

/* CREAR */

form {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	max-width: 1200px;
	width: 80%;
	margin: auto;
}

form p {
	text-align: center;
}

label {
	font-size: 1.2rem;
	font-weight: bold;
}

input,
select {
	font-size: 1.2rem;
}
select {
	width: 249px;
	text-align: center;
}

.input-holder {
	display: flex;
	flex-direction: column;
	width: 35%;
	align-items: self-end;
}
.inputBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	margin: auto;
}

form button {
	margin: 1rem auto;
	max-width: 30%;
	font-size: 1.2rem;
	padding: 10px;
	background-color: var(--accept);
	color: white;
}

.back {
	margin: 10px auto;
}

/* BUSCAR */

.search {
	margin-top: 1rem;
}

.botonera {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	margin-left: 1rem;
}

.botonera button {
	max-width: 50%;
}

img {
	width: 600px;
}

.go-back {
	width: 50%;
	margin: 1rem auto;
	background-color: var(--reject);
	color: white;
	padding: 1rem;
	font-size: 1rem;
}
